.student_list {
}
.student_tag {
  width: 100px;
  text-align: center;

  // TODO feedback：不建议使用！important，可用层叠规则覆盖antd样式
  margin-bottom: 8px !important;
  margin-right: 20px !important;
}
.tag-input {
  width: 100px !important;
  display: inline-block !important;
}
