@import '../../../../style/variables';

.group {
  text-align: center;
  .title_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $gray;
    margin: 6px 0px;
  }
  h3 {
    margin: 0;
  }
  .trainee-wrap {
    position: absolute;
    top: 0px;
    right: 10px;
  }
}
