.student_list {

}
.student_tag {
  width: 100px;
  text-align: center;
  margin-bottom: 8px !important;
  margin-right: 20px !important;
}
.tag-input {
  width: 100px !important;
  display: inline-block !important;
}